* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}
li {
    text-align: none;
    list-style: none;
    text-decoration: none;
}
a:link {
    text-decoration: none;
    color: white;
}
a:visited {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
    color: white;
}
a:active {
    text-decoration: underline;
    color: white;
}


.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
    height: 50px;
    align-items: center;
    background-color: #1f2937;
    color: white;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-family: sans-serif;
    font-weight: 900;
    
}
.headerlink {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
    font-family: sans-serif;
}
.bodyone {
    height: 480px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 200px;
}
.bodyoneone {
    height: 250px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;

}
.bodyone h1 {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.bodyone p {
    font-size: 18px;
    font-family: sans-serif;
    color: #E5E7EB;
}
.bodyone button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #3882F6;
}
.bodyonetwo {
    display: flex;
    flex: 1;
    height: 250px;
    background-color: #585a5e;
    justify-content: center;
    align-items: center;
}
.bodytwo {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 200px;
    gap: 60px;
    text-align: center;
}
.bodytwo h2 {
    font-size: 36px;
    font-weight: 900;
    font-family: sans-serif;
    color: #1F2937;
}
.bodytwo p {
    font-family: sans-serif;
    color:#585a5e;
}
.bodytwotwo {
    display: flex;
    gap: 50px;
}
.twotwoone {
    height: 200px;
    width: 160px;
}
.twotwoone div {
    border: 4px solid #79a2db;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    text-align: center;
}
.bodythree {
    height: 430px;
    background-color: #E5E7EB;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 300px;
    font-size: 30px;
    font-family: -apple-system, BlinkMatemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.para {
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
}
.paratitle {
    align-self: flex-end;
    color: #1f2937;
    font-weight: bold;
}
.bodyfour {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 200px;
}
.bodyfourone {
    display: flex;
    flex-direction: row;
    background-color: #3882F6;
    border-radius: 15px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
    height: 150px;
    width: 100%;
}
.bodyfourone h3 {
    color: #E5E7EB;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
}
.bodyfourone p {
    color: #E5E7EB;
    font-family: sans-serif;
    margin-top: 10px;
}
.bodyfour button {
    background-color: #3882F6;
    border:2px solid white;
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
}
.bodyfour button:hover {
    background-color: white;
    color: #3882F6;
    border: 2px solid #3882F6;
}
.bodyfour button:active {
    background-color: #1f2937;
    color: white
}
.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: white;
    height: 50px;
    align-items: center;
}